.toolbar{
    background-color: #BF9D7E;
}


.hover:hover{
    background-color: #dbccc6;
    transition: 0.3s;
    padding: 1px;    
    border: 2px solid;
    border-radius: 10px;
}

.cor-font-typography{    
    color: #8C5845;
}

.cursor{
    cursor: pointer;
    color: white;
}

.text-decorator-none{
    width: 100%;
    text-decoration: none;
}