.box1{
    background-color: #F2C3A7;
     height: 120px;
}

.box2{
    background-color: #F2C3A7;
     height: 60px;
}

.redes{
    font-size: 60px !important;
    color: #8C5845;
}

.textos{
    color: #8C5845;
}

